extends ../layout/base
block content
    section.content-header
        h1
            | Add Keluarga
            small it all starts here
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
                li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Kartu Keluarga
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action='/keluargas/add')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | Nomor KK
                                    input(type='text',name='nokk',placeholder='Enter Nomor KK').form-control
                                .form-group
                                    label
                                        | Kepala Keluarga
                                    input(type='text',name='nama_kep',placeholder='Enter Nama Kepala').form-control
                                .form-group
                                    label
                                        | NIK
                                    input(type='text',name='nik_kep',placeholder='Enter NIK').form-control                               
                                .form-group
                                    label
                                        | Jumlah Anggota
                                    input(type='text',name='jumlah',placeholder='Enter Jumlah Anggota').form-control
                                .form-group
                                    label
                                        | Alamat
                                    input(type='text',name='alamat',placeholder='Enter Alamat').form-control
                                .form-group
                                    label
                                        | RT
                                    input(type='text',name='rt',placeholder='Enter RT').form-control
                                .form-group
                                    label
                                        | RW
                                    input(type='text',name='rw',placeholder='Enter RW').form-control
                                .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit

                                a(href='/keluargas').btn.btn-primary.pull-right
                                    | Back